<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.ubs.swidKXJ.android" />
        <package android:name="ch.postfinance.android" />
        <package android:name="ch.raiffeisen.android" />
        <package android:name="ch.raiffeisen.kep" />
        <package android:name="ch.zkb.slv.mobile.client.android" />
        <package android:name="ch.migrosbank.android" />
        <package android:name="com.neonbanking.app" />
        <package android:name="com.revolut.revolut" />
        <package android:name="com.yuh" />
        <package android:name="ch.cler.digital.banking.android" />
        <package android:name="ch.bankcler.zak" />
        <package android:name="ch.bcv.mobile.android" />
        <package android:name="ch.bekb.BEKBApp" />
        <package android:name="ch.bkb.digital.banking.android" />
        <package android:name="ch.blkb.mobile.android" />
        <package android:name="ch.akb.mobile.android" />
        <package android:name="ch.sgkb.androidapp" />
        <package android:name="ch.lukb.app" />
        <package android:name="ch.tkb.androidapp" />
        <package android:name="com.gkb.mobilebanking.production.release" />
        <package android:name="com.zgkb.map4.android" />
        <package android:name="com.zgkb.android.mbanking" />
        <package android:name="com.valiant.mobilebanking.release" />
        <package android:name="com.swissquote.android" />
        <package android:name="com.alpian.alpian" />
        <package android:name="com.radicant.bank" />
        <package android:name="de.fiduciagad.banking.vr" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/png" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="image/png" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="false"
        android:icon="@drawable/pfvr_logo"
        android:label="${appLabel}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
